%section.header
  .header_content
    ThoughtWorks
    %strong BA
%section.content
  .weibos
    .weibos_content
      .weibo.bordercolor-girl
        .weibo_detail.weibo_element
          .weibo_text
            三月的西安也会飘软软的“雪”～
          .weibo_image
            %img{:src => "http://ww3.sinaimg.cn/bmiddle/5faf29b3jw1e2zqazlb6qj.jpg"}/
          .weibo_interact
            .last-update-time.textcolor-girl 5分钟前
            .weibo_icons
              %a{:href => "#"}
                %i.icon.textcolor-girl.icon-thumbs-up
              %a{:href => "#"}
                %i.icon.textcolor-girl.icon-share-alt
              %a{:href => "#"}
                %i.icon.textcolor-girl.icon-comment-alt
        .weibo_face.weibo_element.bgcolor-girl
          %img{:src => "http://tp4.sinaimg.cn/1605314995/180/1297311609/0"}/
          %p.weibo_username 牛牛Broadcast
        .weibo_comment
          %input
          %button.submit 提交评论


      .weibo.bordercolor-boy
        .weibo_detail.weibo_element
          .weibo_text
            ThoughtWorks commissioned Forrester to conduct in-depth surveys to evaluate whether the current software delivery processes were sufficient to meet the relentless demand for innovation. Download and read “Continuous Delivery: A Maturity Assessment Model”. http://t.cn/zTbIb9M
          .weibo_image
            %img{:src => "http://ww1.sinaimg.cn/bmiddle/69caf2e7jw1e3i2rfts8dj.jpg"}/
          .weibo_interact
            .last-update-time.textcolor-boy 4月9日 17:50
            .weibo_icons
              %i.icon.textcolor-boy.icon-thumbs-up
              %i.icon.textcolor-boy.icon-share-alt
              %i.icon.textcolor-boy.icon-comment-alt
        .weibo_face.weibo_element.bgcolor-boy
          %img{:src => "http://tp4.sinaimg.cn/1774908135/180/5623657986/0"}/
          %p.weibo_username Thoughtworks中国

      .weibo.bordercolor-girl
        .weibo_detail.weibo_element
          .weibo_text
            三月的西安也会飘软软的“雪”～
          .weibo_image
            %img{:src => "http://ww3.sinaimg.cn/bmiddle/5faf29b3jw1e2zqazlb6qj.jpg"}/
          .weibo_interact
            .last-update-time.textcolor-girl 4月8日 17:50
            .weibo_icons
              %i.icon.textcolor-girl.icon-thumbs-up
              %i.icon.textcolor-girl.icon-share-alt
              %i.icon.textcolor-girl.icon-comment-alt
        .weibo_face.weibo_element.bgcolor-girl
          %img{:src => "http://tp4.sinaimg.cn/1605314995/180/1297311609/0"}/
          %p.weibo_username 牛牛Broadcast


      .weibo.bordercolor-boy
        .weibo_detail.weibo_element
          .weibo_text
            ThoughtWorks commissioned Forrester to conduct in-depth surveys to evaluate whether the current software delivery processes were sufficient to meet the relentless demand for innovation. Download and read “Continuous Delivery: A Maturity Assessment Model”. http://t.cn/zTbIb9M
            ThoughtWorks commissioned Forrester to conduct in-depth surveys to evaluate whether the current software delivery processes were sufficient to meet the relentless demand for innovation. Download and read “Continuous Delivery: A Maturity Assessment Model”. http://t.cn/zTbIb9M
          .weibo_image
            %img{:src => "http://ww1.sinaimg.cn/bmiddle/69caf2e7jw1e3i2rfts8dj.jpg"}/
          .weibo_interact
            .last-update-time.textcolor-boy 4月7日 17:50
            .weibo_icons
              %i.icon.textcolor-boy.icon-thumbs-up
              %i.icon.textcolor-boy.icon-share-alt
              %i.icon.textcolor-boy.icon-comment-alt
        .weibo_face.weibo_element.bgcolor-boy
          %img{:src => "http://tp4.sinaimg.cn/1774908135/180/5623657986/0"}/
          %p.weibo_username Thoughtworks中国


  .footer
    .footer_text
      ThoughtWorks BA
