!!!
%html
  %head
    %title Ba
    %meta{:content => "cf199c9e87f744ea", :property => "wb:webmaster"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield